@model IEnumerable<BaltaLearn.Models.Course>

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo!</h1>
    <p>Desenvolva sua carreira com nossos cursos.</p>
</div>
<hr class="text-muted"/>
<div class="row my-4">
    <div class="col-md-8 offset-md-2 text-center">
        <h2>Últimos cursos lançados</h2>
    </div>
</div>
<div class="row">
    @foreach(var course in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => course.Title)</h4>
                    <p class="card-text"><i class="bi bi-stopwatch"></i> Duração: @Html.DisplayFor(modelItem => course.DurationInMinutes) minutos</p>
                    <a class="btn btn-info" asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">Mais detalhes</a>
                </div>
            </div>
        </div>
    }
</div>
