@model BaltaLearn.Models.Course

@{
    ViewData["Title"] = "Novo Curso";
}

<h1>Novo Curso</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Title" class="form-control" />
                <label asp-for="Title" class="control-label"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Tag" class="form-control" />
                <label asp-for="Tag" class="control-label"></label>
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Summary" class="form-control" />
                <label asp-for="Summary" class="control-label"></label>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="DurationInMinutes" class="form-control" />
                <label asp-for="DurationInMinutes" class="control-label"></label>
                <span asp-validation-for="DurationInMinutes" class="text-danger"></span>
            </div>
            <hr class="mb-4">
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-outline-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

