@model BaltaLearn.Models.Course

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Tag - @Model.Title</h1>
<p>@Model.Summary</p>
<p><i class="bi bi-stopwatch"></i> @Model.DurationInMinutes</p>
<hr class="mb-4">

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
